@using System.Text.Json
@using Models.Response
@model Models.Response.UserPostsCommentsInfo

@{
    ViewData["Title"] = "AboutUser";
}

<h1>AboutUser</h1>

<div>
    <h4>Here is the user Activity</h4>
    <hr />
    <h5>
        @{
            var token = Context.Request.Cookies["token3"];
                        @if(token != null)
            {
            
                var jsonSerializerOptions = new JsonSerializerOptions() { PropertyNameCaseInsensitive = true };
                var responseToken = JsonSerializer.Deserialize<UserToken>(
                    token, jsonSerializerOptions);

                            @if(responseToken!= null && responseToken.UserId == Model.Id)
                {
                                <group>
                                     @Html.ActionLink("ChangePassword", "Edit","User") |
                                     @Html.ActionLink("DeleteAccount", "Delete","User")
                                </group>
                }
            }
        }
    </h5>
   
    <dl class="row">
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>
    <div>
        <b>Posts</b>
    </div>
       <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model=>model.Posts[0].Votes)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Posts[0].Author)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Posts[0].Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Posts[0].Description)
                </th>
            </tr>
           @foreach(var item in Model.Posts)
            {
            <tr>
                <td>
                    <div class="col-2">
                        @{
                            token = Context.Request.Cookies["token3"];
                            if (token != null)
                            {
                                    <form asp-controller="User" asp-action="UpVote">

                                        <div class="form-group">
                                            <input class="form-control" name="postId" value=@item.Id hidden />
                                            <input class="form-control" name="verif" value=false hidden />
                                            <input class="form-control" name="userId" value=@Model.Id hidden />
                                        </div>
                                        <div class="form-group">
                                            <input type ="submit" class="btn-outline-primary" value= &#8679;
                                        style="font-size:22px"  >
                                        </div>
                                    </form>
                            }
                            else
                            {
                                <form asp-controller="User" asp-action="Login">

                                <div class="form-group">
                                     <input class="form-control" name="message" value="You must be logged in to vote" hidden />
                                    <input type ="submit" class="btn-outline-primary" value= &#8679;
                                        style="font-size:22px"  >
                                </div>
                                </form>
                            }
                                <div>
                                    @Html.DisplayFor(modelItem=> @item.Votes)
                                </div>
                            if (token != null)
                            {
                                <form asp-controller="User" asp-action="DownVote">

                                    <div class="form-group">
                                        <input class="form-control" name="postId" value=@item.Id hidden />
                                        <input class="form-control" name="verif" value=false hidden />
                                        <input class="form-control" name="userId" value=@Model.Id hidden />
                                    </div>
                                    <div class="form-group">
                                        <input type ="submit" class="btn-outline-danger" value= &#8681;
                                    style="font-size:22px"   >
                                    </div>
                                </form>
                            }
                            else
                            {
                                <form asp-controller="User" asp-action="LogIn">
                                    <div class="form-group">
                                        <input class="form-control" name="message" value="You must be logged in to vote" hidden />
                                        <input type ="submit" class="btn-outline-danger" value= &#8681;
                                            style="font-size:22px"   >
                                    </div>
                                </form>
                            }
                        }
                    </div>
                </td>
                <td>
                    @Html.DisplayFor(modelItem =>item.Author)
                </td>
                <td>
                    @Html.DisplayFor(modelItem =>item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem =>item.Description)
                </td>
                <td>
                    
                    
                    @Html.ActionLink($"{item.Comments.Count}","CommentsByPostId","Comment",new{
                    @id = @item.Id}, null)
                </td>
                <td>
                    @{
                        token = Context.Request.Cookies["token3"];
                        @if(token != null)
                        {
                        
                            var jsonSerializerOptions = new JsonSerializerOptions() { PropertyNameCaseInsensitive = true };
                            var responseToken = JsonSerializer.Deserialize<UserToken>(
                                token, jsonSerializerOptions);
                            @if (responseToken!= null &&  responseToken.UserId == Model.Id)
                            {
                                <div>
                                    @Html.ActionLink("Edit", "Edit","Home", new { @id = @item.Id,@body=@item.Description}) |
                                    @Html.ActionLink("Delete", "Delete","Home", new { @id = @item.Id,@body= @item.Description })
                                </div>
                            }
                        }
                    }
                </td>
            </tr>  
            }
    </table>
    <div>
        <b>Comments</b>
    </div>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model=> model.Comments[0].Votes)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Comments[0].Author)
                </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Comments[0].CommentBody)
                    </th>
                <th>
                    @Html.DisplayNameFor(model => model.Comments[0].Created)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Comments[0].Updated)
                </th>
            </tr>
            @for(int i=0;i<Model.Comments.Count;++i)
            {
            <tr>
                <th>
                    @{
                        if (token != null)
                        {
                            <form asp-controller="User" asp-action="UpVote">

                                <div class="form-group">
                                    <input class="form-control" name="commentId" value=@Model.Comments[i].Id hidden />
                                    <input class="form-control" name="userId" value=@Model.Id hidden/>
                                    <input class="form-control" name="verif" value=true hidden />
                                </div>
                                <div class="form-group">
                                    <input type ="submit" class="btn-outline-primary" value= &#8679;
                                    style="font-size:22px"  >
                                </div>
                            </form>
                        }
                        else
                        {
                                <form asp-controller="User" asp-action="Login">

                                <div class="form-group">
                                     <input class="form-control" name="message" value="You must be logged in to vote" hidden />
                                    <input type ="submit" class="btn-outline-primary" value= &#8679;
                                        style="font-size:22px"  >
                                </div>
                                </form>
                        }

                        <div>
                            @Html.DisplayFor(modelItem=> @Model.Comments[i].Votes)
                        </div>
                        if(token != null)
                        {
                            <form asp-controller="User" asp-action="DownVote">

                                <div class="form-group">
                                    <input class="form-control" name="commentId" value=@Model.Comments[i].Id hidden />
                                    <input class="form-control" name="verif" value=true hidden />
                                    <input class="form-control" name="userId" value=@Model.Id hidden/>
                                </div>
                                <div class="form-group">
                                    <input type ="submit" class="btn-outline-danger" value= &#8681;
                                    style="font-size:22px"   >
                                </div>
                            </form>
                        }
                        else
                         {
                            <form asp-controller="User" asp-action="LogIn">
                                <div class="form-group">
                                    <input class="form-control" name="message" value="You must be logged in to vote" hidden />
                                    <input type ="submit" class="btn-outline-danger" value= &#8681;
                                        style="font-size:22px"   >
                                </div>

                            </form>
                        }
                    }
                </th>
                <td>
                    @Html.DisplayFor(model => model.Comments[i].Author)
                </td>
                   
                <td>
                    @Html.DisplayFor(model => model.Comments[i].CommentBody)
                </td>
                <td> 
                    @Html.DisplayFor(model => model.Comments[i].Created)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Comments[i].Updated)
                </td>
                <td>
                    @{
                        token = Context.Request.Cookies["token3"];
                                    @if (token != null)
                        {
                            
                            var jsonSerializerOptions = new JsonSerializerOptions() { PropertyNameCaseInsensitive = true };
                            var responseToken = JsonSerializer.Deserialize<UserToken>(
                                token, jsonSerializerOptions);
                                        @if (responseToken!= null &&  responseToken.UserId == Model.Id)
                            {
                                            <div>
                                                @Html.ActionLink("Edit", "Edit","Comment", new { @id = Model.Comments[i].Id,@body= Model.Comments[i].CommentBody,@userId=@Model.Id}) |
                                                @Html.ActionLink("Delete", "Delete","Comment", new { @id = Model.Comments[i].Id,@body= Model.Comments[i].CommentBody })
                                            </div>
                            }

                        }
                    }
                </td> 
            </tr>

            }
        </table>
</div>

