@using Models.Response

@using System.Text.Json
@{
    ViewData["Title"] = "Home Page";
    
}
@if(Context.Request.Cookies["token3"]!= null)
{
    <div class="row">
    <div class="col-md-4">
        <form asp-controller="Home" asp-action="CreatePost">
            
            <div class="input-group">
                <input type="text" placeholder='"(Create Post-Title)")' name="postTitle" class="form-control" required >
                <input type="text" placeholder='"(Create Post-Body)")' name="postBody" class="form-control" required >
                <span class="input-group-btn">
                    <input type="submit" value="Post" class="btn btn-primary" />
                </span>
            </div>
            
            
            <div class="form-group">
                @Html.Label((string)ViewBag.ErrorUser)
                
            </div>
        </form>
    </div>
</div>
}
@{
    @model IEnumerable<PostInfo>
    <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Author)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Title)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Body)
                        </th>
                         <th>
                           @Html.Label("Comments:")
                        </th>
                    </tr>
                   @foreach(var item in Model)
    {
                    <tr>
                        <td>
                            @if(!item.Author.Equals("[User Deleted]"))
                            {
                                @Html.ActionLink($"{item.Author}","AboutUser","User",new{
                                    @id = @item.UserId}, null)
                        
                            }
                            else
                            {
                                @Html.DisplayFor(modelItem =>item.Author)
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem =>item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem =>item.Body)
                        </td>
                        
                        <td>
                            
                            
                            @Html.ActionLink($"{item.Comments.Count}","CommentsByPostId","Comment",new{
                    @id = @item.Id}, null)
                        </td>
                        <td>
                        
                    @if(Context.Request.Cookies["token3"]!=null && @item.UserId!=null
                    &&!Context.Request.Cookies["token3"].Equals(""))
                    {
                        
                            var token = Context.Request.Cookies["token3"];
                            var jsonSerializerOptions = new JsonSerializerOptions() { PropertyNameCaseInsensitive = true };
                            var responseToken = JsonSerializer.Deserialize<UserToken>(
                                token, jsonSerializerOptions);
                        @if(responseToken.UserId == @item.UserId)
                        {
                            <div>
                                @Html.ActionLink("Edit", "Edit", new { @id = @item.Id,@body=@item.Body}) |
                                @Html.ActionLink("Delete", "Delete", new { @id = @item.Id,@body= @item.Body })
                            </div>
                        }
                    }
                        </td>
                    </tr>  
    }
                    
    </table>
}

