@using Models.Response
@{
    ViewData["Title"] = "Home Page";
}

@{
    @model IEnumerable<PostInfo>
    <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Body)
                </th>
                 <th>
                    @Html.Display("Comments")
                </th>
            </tr>
           @foreach(var item in Model)
    {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem =>item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem =>item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem =>item.Body)
                </td>
                <td>
                    
                    
                    @Html.ActionLink($"{item.Comments.Count}","CommentsByPostId","Comment",new{
                    @id = @item.Id}, null);
                </td>
            </tr>  
    }
            
    </table>
}

